.offcanvas {
    width: 250px;
    background-color: #000000;
}
.offcanvas.offcanvas-end {
    width: 250px;
}
.offcanvas .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 1;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}
.offcanvas .btn-close:focus {
    box-shadow: 0 0 0 3px #6280e2;  /* 네모 색상과 두께 설정 */
    border-radius: 4px;  /* 네모의 모서리 둥글게 */
}
.offcanvas .closeicon {
    color: #fff;
}
.offcanvas .offcanvas-header {
    padding-top: 25px;
}
.offcanvas .offcanvas-title {
    margin-top : -10px;
    color : #a1a1a1;
}
.offcanvas ul li {
    display: flex;
    align-self: center;
    margin-right: 30px;
    height: 50px;
    border-bottom: 1px solid #262626;
}
.offcanvas ul li button {
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}
.offcanvas ul li button span {
    display: inline-block;
    margin-left: 5px;
}
.offcanvas ul li button:hover span {
    font-weight: 600;
    background: linear-gradient(90deg, #6280e2 0%, #291dcf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@media (orientation: landscape) {
    @media(max-height: 880px) {
        .root .tower {
            bottom : -120vh;
        }
    }

    @media(max-height: 770px) {
        .root .tower {
            bottom : -130vh;
        }
    }

    @media(max-height: 700px) {
        .root .tower {
            bottom : -140vh;
        }
    }

    @media(max-height: 610px) {
        .root .tower {
            display: none;
        }
    }
}

@media (orientation: portrait) {
    .root .tower {
        bottom : -80vh;
    }

    @media(max-height: 950px) {
        .root .tower {
            bottom : -70vh;
        }
    }

    @media(max-height: 850px) {
        .root .tower {
            bottom : -80vh;
        }
    }

    @media(max-height: 750px) {
        .root .tower {
            bottom : -90vh;
        }
    }

    @media(max-height: 710px) {
        .root .tower {
            bottom : -100vh;
        }
    }

    @media(max-height: 650px) {
        .root .tower {
            bottom : -110vh;
        }
    }

    @media(max-height: 610px) {
        .root .tower {
            display: none;
        }
    }
}



@media (max-width: 990px) {
    .pages_1 .pharagraph,
    .pages_2 .pharagraph {
        width : 100%;
        text-align: center;
    }
    .pages_2 .pharagraph_2 {
        flex-direction: column;
    }
    .pages_2 .pharagraph_2 .card {
        flex-wrap: wrap;
    }

    .pages_3 .pharagraph {
        width: 100%;
    }

    .pages_3 .pharagraph_2 {
        flex-basis: 100%;
    }
}

@media (max-width: 960px) {
    .top_area .menu {
        font-size: 18px;
    }

    .pages_3 .explain,
    .pages_4 .explain {
        flex-basis : 60%;
        width : 60%;
    }

    .pages_4 .pharagraph {
        width : 100%;
    }
}

@media (max-width: 880px) {
    .pages_1 .pharagraph_3 {
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
    }
}

@media (max-width: 820px) {
    .top_area .menu .menu_category,
    .top_area .menu .cate_0 {
        display: none;
    }

    .top_area .menu {
        justify-content:space-between;
    }

    .top_area .menu .menu_mobile_img {
        display: block;
    }
}

@media (max-width: 780px) {
    .list_right {
        width : 100%;
    }
    .list_right div {
        margin-left: 20%;
        margin-right: 0%;
    }
    .list_right dl {
        display: flex;
    }
    .list_right dl dt {
        display: block;
    }

    .list_right dl dd {
        display: block;
        width: 80%;
    }

    .list_right div:before {
        top : -9px;
    }
}

@media (max-width: 680px) {
    .pages_1 .pharagraph_2 {
        flex-direction: column;
    }
}

@media (max-width: 660px) {
    .pages_3 .pharagraph_2 {
        flex-direction: column;
    }

    .pages_3 .pharagraph_2 .left_side,
    .pages_3 .pharagraph_2 .explain {
        flex-basis: 100%;
        width: 100%;
        text-align: center;
        align-self: center;
    }

    .pages_3 .explain .align_left {
        text-align: center;
    }
}

@media (max-width: 580px) {
    .list_right div {
        margin-left: 15%;
    }
}

@media (max-width: 550px) {
    .list_right div {
        margin-left: 0%;
    }

    .list_right dl dd {
        width: 100%;
    }
}

@media (max-width: 510px) {
    .main_page .top_text .line_t_r {
        display: none;
    }

    .top_area .logo {
        margin-top: 15px;
        height: 45px;
        flex-basis: 270px;
        width: 270px;
        min-width : 270px;
        background-size: cover;
    }

    .top_area .menu .menu_mobile_img {
        width: 50px;
        margin-right: 10px;
    }

    .pages_1 .pharagraph_3 {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .pages_1 .pharagraph_3 .unit .align_left {
        margin-left: 25%;
        margin-right: 23%;
    }

    .list_right dl dt {
        min-width: 50px;;
    }
}

@media (max-width: 400px) {
    .pages_1 .pharagraph_3 .unit .align_left {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (max-width: 370px) {
    .pages_4 .pharagraph_2 .icon {
        width : 30px;
        height : 30px;
    }
}